
<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</header>

<body>
  <div class="form-container">
    <h1>Stupid Coaching</h1>
    <p>Ask your coach anything</p>
      <form class="form-inline" action="answer">
        <div class="form-group ">
          <input type="text" name="question" class="form-control">
        </div>
        <input type="submit" value="Ask!" class="btn btn-primary">
      </form>
  </div>
</body>
